    body {
            background-image: url('./20240820_103213_0000.png');
            background-size: 900px;
  
    }   
    #titulo{
             text-align: center;
             place-content: center;
             color: black;
             border-radius: 5px;
             font-size: 20px;
             animation: move 5s infinite;
             margin-left: 20%;
             margin-right: 10%;
             margin-top: 230px;
             position: absolute;
             z-index: 1;
             width: 900px;
             height: 200px;
             background-color: whitesmoke;
             background-size: 110px;
           }
    #botao {
               width: 50px;
               height: 50px;
               box-shadow: 1px 1px cornflowerblue;
               color: black;
               background-color: white;
               margin-left: 1px;
               border-radius: 5px;
             }

    h1 {
               text-align: center;
             }
    p{
               margin-left: 10px;
               margin-right: 10px;
             }

    img{      width: 430px;
               height: 350px;
               border: solid 1px black;
               margin-left: 220px;
             }
    legend {
               font-size: 15px;
               text-align: center;
             }

    #menu {
               position: fixed;
               z-index: 2;
  
             }

    #menu2{
               position: fixed;
               z-index: 2;
             }

    #subtitulo{
               text-align: center;
               place-content: center;
               color: black;
               font-size: 20px;
               margin-left: 80px;
               margin-top: 120px;
               border-radius: 5px;
               z-index: auto;
               width: 750px;
               height: 120px;
               position: absolute;
               background-color: white;
               border: solid 2px cornflowerblue;
  
             }

           #eu{
               text-align: justify;
               color: black;
               font-size: 20px;
               margin-top: 1100px;
               border-radius: 5px;
               border: solid 2px cornflowerblue;
               z-index: auto;
               width: 900px;
               height: 400px;
               position: absolute;
               background-color: whitesmoke;
               float: left;
             }

    #estudo{
               text-align: justify;
               place-content: center;
               color: black;
               font-size: 20px;
               margin-top: 2580px;
               border-radius: 5px;
               border: solid 2px cornflowerblue;
               z-index: auto;
               width: 900px;
               height: 450px;
               position: absolute;
               background-color: whitesmoke;
               float: left;
             }

    #experiencia{
               text-align: justify;
               place-content: center;
               color: black;
               font-size: 20px;
               margin-top: 3700px;
               border-radius: 5px;
               border: solid 2px cornflowerblue;
               z-index: auto;
               width: 900px;
               height: 450px;
               position: absolute;
               background-color: whitesmoke;
               float: left;
             }

    #projetos{
               text-align: justify;
               color: black;
               font-size: 20px;
               margin-top: 4900px;
               border-radius: 5px;
               border: solid 2px cornflowerblue;
               z-index: auto;
               width: 900px;
               height: 4500px;
               position: absolute;
               background-color: whitesmoke;
               float: left;
             }

    #footer {
               margin-top: 6900px;
               margin-left: 200px;
               position: absolute;
               z-index: 2;
               font-size: 20px;
               position: absolute;    
               
               width: 200px;
             }


    h2{
  text-align: center;
}
    #divisoria {
  border: solid 2px black;
  width: 870px;
}
    @keyframes move{
  0% {
    box-shadow: 0px 0px 0px 0px #00FA9A;
  }
  
  33% {
    box-shadow: 0px 0px 6px 10px #00FA9A;
  }
  66% {
    box-shadow: 0px 0px 0px 0px #00FA9A;
  }
  100% {
    box-shadow: 0px 0px 6px 10px #00FA9A;
  }
}
@keyframes move2 {
  from {
    width: 0px;
    height: 35px;
    background-color: "";
  }
  to {
    width: 400px;
    height: 35px;
    background-color: whitesmoke;
  }
}


@keyframes move3{
  from {
    width: 420px;
    height: 35px;
    background-color: white;
  }
  to {
    width: 0px;
    height: 35px;
    background-color: white;
    border: none;
  }
}

    @keyframes move4{
  from {
    margin-left: 0px;
    
    background-color: whitesmoke;
  }
  to {
    margin-left: 1px;
    background-color: whitesmoke;
  }
}



    @keyframes move5{
  from {
    width: 400px;
    height: 35px;
    background-color: white;
  }
  to {
    width: 0px;
    height: 35px;
    background-color: white;
    border: none;
  }
}
  
  
  @keyframes move6{
    from {
      width: 0px;
      height: 35px;
      background-color: white;
    }
    to {
      width: 1570px;
      height: 35px;
      background-color: white;
      border: none;
    }
  }

@media screen and (max-width: 900px) {

  body {
    background-image: url('./20240820_103213_0000.png');
    background-size: 250px;
  
  }
  #titulo{
    text-align: center;
    place-content: center;
    color: black;
    border-radius: 5px;
    font-size: 20px;
    animation: move 5s infinite;
    margin-left: 130px;
    margin-right: 10%;
    margin-top: 490px;
    position: absolute;
    z-index: 1;
    width: 500px;
    height: 200px;
    background-color: whitesmoke;
    background-size: 110px ;
  }

  #botao {
    width: 80px;
    height: 80px;
    box-shadow: 1px 1px cornflowerblue;
    color: black;
    background-color: white;
    margin-left: 1px;
  }

  h1 {
    text-align: center;
  }
  p{
    margin-left: 10px;
    margin-right: 10px;
  }

  img{
    width: 250px;
    height: 250px;
    border: solid 1px black;
    margin-left: 50px;      
  }
  legend {
    font-size: 15px;
    text-align: center;
  }

  #menu {
    position: fixed;
    z-index: 2;
  }

  #menu2{
    position: fixed;
    z-index: 2;
  }

  #subtitulo{
    text-align: justify;
    color: black;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 60px;
    margin-left: 40px;
    z-index: auto;
    width: 400px;
    height: 120px;
    position: absolute;
    background-color: white;
    border: solid 2px cornflowerblue;
  }

  #eu{
    text-align: justify;
    color: black;
    font-size: 20px;
    margin-top: 1500px;
    
    border-radius: 5px;
    border: solid 2px cornflowerblue;
    z-index: auto;
    width: 500px;
    height: 700px;
    position: absolute;
    background-color: whitesmoke;
    float: left;
  }

  #estudo{
    text-align: justify;
    color: black;
    font-size: 20px;
    margin-top: 2980px;
    
    border-radius: 5px;
    border: solid 2px cornflowerblue;
    z-index: auto;
    width: 500px;
    height: 450px;
    position: absolute;
    background-color: whitesmoke;
    float: left;
  }

  #experiencia{
    text-align: justify;
    color: black;
    font-size: 20px;
    margin-top: 4100px;
    
    border-radius: 5px;
    border: solid 2px cornflowerblue;
    z-index: auto;
    width: 500px;
    height: 450px;
    position: absolute;
    background-color: whitesmoke;
    float: left;
  }

  #projetos{
    text-align: center;
    color: black;
    font-size: 20px;
    margin-top: 5300px;
    
    border-radius: 5px;
    border: solid 2px cornflowerblue;
    z-index: auto;
    width: 500px;
    height: 3700px;
    position: absolute;
    background-color: whitesmoke;
    
  }
         
        
        

  #footer {
    margin-top: 6900px;
    margin-left: 100px;
    width: 500px;
    font-size: 15px;
    position: absolute;    
    z-index: 2;      
  }

  h2{
    text-align: center;
  }
  #divisoria {
    border: solid 2px black;
    width: 480px;
  }
  @keyframes move{
    0% {
      box-shadow: 0px 0px 0px 0px #00FA9A;
    }
   
    33% {
      box-shadow: 0px 0px 6px 10px #00FA9A;
    }
    66% {
      box-shadow: 0px 0px 0px 0px #00FA9A;
    }
    100% {
      box-shadow: 0px 0px 6px 10px #00FA9A;
    }
  }

  @keyframes move2 {
    from {
      width: 0px;
      height: 35px;
      background-color: "";
    }
    to {
      width: 420px;
      height: 35px;
      background-color: whitesmoke;
    }
  }


  @keyframes move3{
    from {
      width: 420px;
      height: 35px;
      background-color: white;
    }
    to {
      width: 0px;
      height: 35px;
      background-color: white;
      border: none;
    }
  }

  @keyframes move4{
    from {
      margin-left: 0px;
      background-color: whitesmoke;
    }
    to {
      margin-left: 1px;
      background-color: whitesmoke;
    }
  }

  @keyframes move5{
    from {
      width: 450px;
      height: 35px;
      background-color: white;
    }
    to {
      width: 0px;
      height: 35px;
      background-color: white;
      border: none;
    }
  }


  @keyframes move6{
    from {
      width: 0px;
      height: 35px;
      background-color: white;
    }
    to {
      width: 450px;
      height: 35px;
      background-color: white;
      border: none;
    }
  }1
}
