


body{
    z-index: 1;
    /* O gradiente cônico cria as linhas retas perfeitas ligando os cantos */
    background: conic-gradient(from 0deg at 50% 50%, #ffffff, #808080, #ffffff, #808080, #ffffff);
}
#fundo {
    width:600PX;
    height: 800px;
    margin: -6% 10% 10% 14%;
    position: absolute;
    z-index: 2;
    border: solid 1px gray;

    /* O gradiente cônico cria as linhas retas perfeitas ligando os cantos */
    background: conic-gradient(from 0deg at 10% 10%, #ffffff, #808080, #ffffff, #808080, #ffffff);
}




.rol {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    flex-direction: row;

}

#pro{
    display: flex;
    overflow-y: auto;
    white-space: nowrap;
    flex-direction: column;
    width: 90%;
  height: 1000px;
  margin-left: 40%;
  box-shadow: 1px 1px 1px 1px black;
  flex-shrink: 0;
  border-radius: 10%;
    z-index: 3;
    word-wrap: break-word;
    text-align: justify;
    background-color: aliceblue;
    opacity: 80%;
    color: black;
}


.tabC {
  width: 90%;
  height: 1000px;
  margin-left: 40%;
  box-shadow: 1px 1px 1px 1px black;
  flex-shrink: 0;
  border-radius: 10%;
    z-index: 3;
    word-wrap: break-word;
    text-align: justify;
    background-color: aliceblue;
    opacity: 80%;
    color: black;
    
    
}
.info{
  min-width: 600px;

  margin: 30% 0% 10% 0%;
  
}

.titulo {
  font-family: "Poppins", cursive;
  font-size: 150px;
  font-weight: bold;
  margin: 1% 8% 0% 8%;
    border: 1px solid black;
    color: black;
    background-color: aliceblue;
    border-radius: 50px;
}


#forma, #xp, #inicio, #pro{
    text-align: center;

}





    
    .Little {
      background-image: url("../imagens/Screenshot_20250125-221643.png");
      margin-left: 100px;
      margin-top: 30px;
      background-position: center;
        width:80%;
        height: 500px;
        background-size: cover;
        box-shadow: 3px 1px 12px 1px gray;
    }

    .Reminder {
      background-image: url("../imagens/reminder.png");
      margin-left: 100px;
      margin-top: 80px;
      background-position: center;
        width:80%;
        height: 500px;
        background-size: cover;
        box-shadow: 3px 1px 12px 1px gray;
    }


    .Send {
      background-image: url("../imagens/Screenshot_20260124-013852.Chrome.png");
      margin-left: 100px;
      margin-top: 80px;
        margin-bottom: 5%;
      background-position: center;
        width:80%;
        height: 500px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        box-shadow: 3px 1px 12px 1px gray;
    }

 

    footer {
               margin-top: 10%;
               margin-left: 25%;
              font-size: 20px;

             }
